.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #8e8e8e;
  font-size: 12px;
  background-color: transparent; /* Para que sirva sobre blanco o gris */
  margin-top: auto; /* Empuja el footer al fondo si usas flex-column */
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: #8e8e8e;
  cursor: pointer;
  transition: color 0.2s;
}

.link:hover {
  text-decoration: underline;
  color: #555;
}